.side-drawer {
  height: 100%;
  background-image: linear-gradient(rgb(199, 189, 189), white);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 90px;
  left: 61px;
  width: 250px;
  z-index: 200;
  transform: translateX(-120%);
  transition: transform 1s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-drawer li {
  margin: 0.5rem;
}
.side-drawer a {
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
}
